body {
    margin: 0;
    padding: 20px;
    width: 500px;
    font-size: 16px;
    background-color: #f1f1f1;
}
h1 {
    margin: 0;
    line-height: 1.3;
}
.comment {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 32px 1fr auto;
    column-gap: 10px;
    background-color: white;
}
.children {
    margin-left: 40px;
}
.user__image {
    border-radius: 10px;
    width: 32px;
    height: 32px;
}
.user {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #585cff;
}
.user.author {
    background-color: aliceblue;
}
time {
    font-weight: normal;
    font-size: 12px;
}
.vote__value {
    margin-top: 5px;
    text-align: right;
}
.vote__value span {
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
}
.vote__value.plus span {
    background-color: #daffe0;
    color: forestgreen;
}
.vote__value.minus span {
    background-color: #ffdae4;
    color: #ff3636;
}
.text {
    grid-column: 1 / -1;
    line-height: 1.5;
}
p, .text img, .comment video {
    margin: 10px 0 0 0;
    max-width: 100%;
}
.comment-quote {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.icon {
    position: relative;
    pointer-events: none;
}
.comment__text__edited {
    color: grey;
    font-size: 12px;
}