body {
    margin: 20px;
    width: 500px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f1f1f1;
}
.comment {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 64px 1fr 50px;
    column-gap: 10px;
    background-color: white;
}
.user__image {
    border-radius: 10px;
}
.user {
    display: block;
    text-decoration: none;
    font-weight: bold;
}
time {
    font-weight: normal;
    font-size: 14px;
}
.vote__value {
    color: forestgreen;
    font-weight: bold;
    text-align: center;
}
.text {
    grid-column: 1 / -1;
}
p, .comment > img {
    margin: 10px 0 0 0;
}